<table>
    <thead>
        <tr>
            <th>
                <img class="tm-digit-icon" src="icons/tm-triangle.svg" alt="blue triangle">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-square.svg" alt="yellow square">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-circle.svg" alt="purple circle">
            </th>
        </tr>
    </thead>

    <tbody>
        @for (row of [5,4,3,2,1]; track row) {
        <tr>
            @for (column of columns; track column) {
            <td (click)="toggleState(row, column)">
                <div class="digit-state">
                    <img
                        [class.d-none]="getState(row, column) !== 'crossed'"
                        src="icons/tm-cross.svg"
                        alt="cross">
                    <img
                        [class.d-none]="getState(row, column) !== 'checked'"
                        src="icons/tm-mark-circle.svg"
                        alt="circle"
                        style="margin-top: -2px">
                </div>
                {{row}}
            </td>
            }
        </tr>
        }
    </tbody>
</table>