.test-note {
  display: flex;

  .letter {
    padding-right: 2px;
  }

  .notes {
    textarea {
      height: 72px;
      padding: 2px 0 2px 22px;
      border-radius: 4px;
      font-size: 18px;
    }
    .solution {
      display: flex;
      gap: 6px;
      margin-left: -12px;

      input {
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 18px;
      }
    }
  }
}
