table {
  border-collapse: collapse;
}

tbody td {
  border-right: 1px solid var(--tm-background);
  border-bottom: 1px solid var(--tm-background);
}

tbody td:last-child {
  border-right: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

th,
td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.test-state {
  width: 0;
  height: 0;

  img {
    width: 20px;
    margin-top: 2px;
    margin-left: 4px;
  }
}
