<table>
    <tbody>
        <tr>
            @for (column of columns.slice(0, 2); track column) {
            <td>
                <app-test-note [letter]="column" />
            </td>
            }
        </tr>

        <tr>
            @for (column of columns.slice(2, 4); track column) {
            <td>
                <app-test-note [letter]="column" />
            </td>
            }
        </tr>

        <tr>
            @for (column of columns.slice(4, 6); track column) {
            <td>
                <app-test-note [letter]="column" />
            </td>
            }
        </tr>
    </tbody>
</table>