<table>
    <thead>
        <tr>
            <th>
                <img class="tm-digit-icon" src="icons/tm-triangle.svg" alt="blue triangle">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-square.svg" alt="yellow square">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-circle.svg" alt="purple circle">
            </th>
        </tr>
    </thead>

    <tbody>
        @for (row of [1,2,3,4,5]; track row) {
        <tr>
            @for (column of [1,2,3]; track column) {
            <td>
                <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]" class="code-digit">
            </td>
            }
        </tr>
        }
    </tbody>
</table>