<table>
    <thead>
        <tr>
            <th>
                <img class="tm-digit-icon" src="icons/tm-triangle.svg" alt="blue triangle">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-square.svg" alt="yellow square">
            </th>
            <th>
                <img class="tm-digit-icon" src="icons/tm-circle.svg" alt="purple circle">
            </th>
        </tr>
    </thead>

    <tbody>
        @for (row of [0,1,2,3,4]; track row) {
        <tr>
            @for (column of [0,1,2]; track column) {
            <td>
                <input
                    #codeDigit
                    type="text"
                    maxlength="1"
                    inputmode="numeric"
                    pattern="[0-9]"
                    class="code-digit"
                    (input)="onDigitInput($event, row, column)">
            </td>
            }
        </tr>
        }
    </tbody>
</table>