.game-information {
  display: flex;
  flex-direction: column;
  gap: 4px;

  div {
    padding: 1px 6px;
    display: flex;
    background-color: var(--tm-secondary);
    border: none;
    border-radius: 8px;

    input {
      padding: 2px 4px;
      font-size: 20px;
    }
  }
}
