.game-information {
  display: flex;
  flex-direction: column;
  gap: 4px;

  div {
    padding: 1px 6px;
    display: flex;
    background-color: var(--tm-secondary);
    border: none;
    border-radius: 8px;

    input {
      width: 100%;
      padding: 2px 4px;
      background-color: transparent;
      border: none;
      font-size: 20px;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
