* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

textarea,
input {
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;

  &:focus-visible {
    outline: none;
  }
}

.game-page {
  padding: 12px 16px 20px 16px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 36px;
    margin: 12px 0;
  }

  @media (min-width: 500px) {
    max-width: 500px;
    justify-self: center;
  }
}

.header-btns {
  display: flex;
  justify-content: space-between;

  button {
    width: fit-content;
    padding: 2px 4px;
    border: none;
    background-color: transparent;
  }
}

.d-none {
  display: none;
}
