:host {
  --tm-primary: #2db563;
  --tm-secondary: #d8f5e3;
}

:host {
  color: var(--tm-primary);
  font-size: 22px;
}

.game-page {
  gap: 24px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 48px;
  }

  .game-overview {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;

    .tm-logo {
      width: 40dvw;
      height: fit-content;
    }
  }
}

.code-tests {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
